@charset "UTF-8";
*{
	margin: 0 auto;
	padding: 0;
}
.header-nav{
    display: flex;
    justify-content: center;
}
.header-wrap{
	display:flex;
	width: 100%;
	justify-content: space-evenly;
	padding-top: 12px
}
.header-logo{
	display: inline-flex;
}
.navi-link{
	font-family: KimjungchulMyungjo-Bold;
}

.header-category{
	display: flex;
	align-items: center;
}
.login-container>img{
	height: 23px;
}

.header-alarm-myPage-Container{
	display: flex;
}
.navi-item{
	padding-right: 140px;
	padding-top: 10px;
}
.navi-link:hover{
	color:#FB7A51;
}
.alarm-container{
	display: flex;
}
.alarm-btn-container{
	margin-right: 10px;
}
.alarm-container{
	display: inline-block;
	position: relative;
}
.alarm-btn{
	border:0;
	background: transparent;
	cursor: pointer;
}
.alarm-img{
	width: 25px;
	padding: 10px;
}


/* 모달 */
.my-log{
	display: flex;
}
.blind{
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
	position: absolute !important;
	width:1px;
	height: 1px;
}

.alarm-container button.alarm-btn.on+.alarm_modal_content{
	display: inline-block;
	z-index: 2;
	display: none;
}

.alarm_modal_content {
	position: absolute;
	display: none;
	overflow: hidden;
	right: -153px;
	padding-top: 23px;
	width: 376px;
	border:1px solid #d7dce5;
	border-radius: 16px;
	box-sizing: border-box;
	letter-spacing: -1px;
	background-color: #fff;
	box-shadow: 2px 6px 16px 0 rgba(17,42,128,0.08);
	padding: 30px;
}
.alarm_modal_content>.alarm_modal_title{
	display: block;
	margin-bottom: 24px;
	color: #3F3D3A;
	font-size: 20px;
	line-height: 28px;
}

.empty_alarm_txt{
	color: #707070;
    font-weight: 300;
    font-size: 14px;
    padding-top: 10px;
    display: block;
}
.alarm_modal_content>.alram_view_status{
	display: block;
	position: absolute;
	top: 27px;
	right: 31px;
	color: #FB7A51;
	font-size: 12px;
	letter-spacing: -0.5px;
	line-height: 20px;	
}
.alarm_modal_content .empty_list.alarm_area.default{
	margin: 0 32px;
	padding-top: 168px;
	height: 608px;
}
.alarm_modal_content .empty_list.alarm_area{
	padding: 42px 0;
	width: 310px;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: #f4f6fa;
	margin: 0 auto;
}
.alarm_modal_content .empty_list{
	padding-top: 110px;
	letter-spacing: -1px;
	text-align: center;
}
.alarm_modal_content .empty_listimg{
	display: block;
	margin: 0 auto;
	border: 0;
	overflow-clip-margin: content-box;
	overflow: clip;
}
.myPage_img{
	width: 30px;
}
.myPage_btn{
	display: flex;
	padding: 8.5px;
}
.myPage_name{
    display: flex;
    align-items: center;
}
.myPage_List{
	display: block;
	margin: 0 auto;
	border: 0;
	overflow-clip-margin: content-box;
	overflow: clip;
	letter-spacing: -1px;
	
}
.myPage_modal_container{
	position: relative;
	display: none;
}
.myPage_List{
	position: absolute;
	overflow: hidden;
	width: 130px;
  	left: -20px;
	text-align: center;
	padding-top: 23px;
	border:1px solid #d7dce5;
	border-radius: 16px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 2px 6px 16px 0 rgba(17,42,128,0.08);
	padding: 13px;
}
.myPage_List{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.myPage_item{
	margin-bottom: 5px;
}










