@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
.header-wrap{
	display: flex;
	 justify-content: space-around;
	    
}
.header-category{
	display: flex;
	align-items: center;
}
.header-category ul{
	display:flex;
	justify-content:space-around;
}
.header-category li{
	list-style: none;
	padding-right: 50px;
	font-size: 20px;
}

.header-navi li:last-child {
	padding-right:0;	
}

.wrap_top_btns .wrap_my_layer{
	display: inline-block;
	position: relative;
	margin-left: 8px;
}

.wrap_top_btns .wrap_my_layer button.top_btn.on{
	background-color: #eff5ff;
}

.wrap_top_btns .wrap_my_layer button.top_btn{
	width: 40px;
	height 40px;
	border-radius: 50%;
}

.button{
	border:0;
	background: transparent;
	cursor: pointer;
	line-height: normal;
}

.blind{
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
	position: absolute !important;
	width:1px;
	height: 1px;
}

.wrap_top_btns .wrap_my_layer button.top_btn.on+.top_layer_assist{
	display: inline-block;
	z-index: 2;
	display: none;
	
}

.top_layer_assist{
	overflow: hidden;
	position: absolute;
	top: 49px;
	right: -153px;
	padding-top: 23px;
	width: 376px;
	height: 720px;
	border:1px solid #d7dce5;
	border-radius: 16px;
	box-sizing: border-box;
	letter-spacing: -1px;
	background-color: #fff;
	box-shadow: 2px 6px 16px 0 rgba(17,42,128,0.08);
 
}