@charset "UTF-8";

 :root {
	--color-accent : #FB7A51;
	--color-sub : #3CB728;
	--color-main : #3F3D3A;
	--color-sub2 : #D9D9D9;
	--color-submain : #696969;
	--color-warning : #E74747;
	--color-white : #FFFFFF;	
	
}

*{
	margin: 0 auto;
	padding: 0;
}

.card-img-top{
	width: 100px;
	height: 100px;
}

.card{
	display: flex;
}
.card-item{
	flex: 1;
}
