@charset "UTF-8";
/* .tt-wrap-cmt{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.tt-wrap-cmt *{
	box-sizing: border-box;
	line-height: inherit;
}

.tt-box-thumb{
	margin-right: 160px;	
}
.tt-box-thumb *{
	box-sizing: border-box;
	line-height: inherit;
}
.tt-thumbnail {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50px;
}
.tt-wrap-cmt .tt-box-content{
	width: calc(100% - 60px);
}
.tt-wrap-cmt .tt_desc {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #222;
    vertical-align: middle;
    word-break: break-all;
} */
