@charset "UTF-8";

.wholeContainer {
	width: 100%;
	height: 50px;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

.myPageTabList {
	width: 1000px;
	height:50px;
	display:flex;
	margin-top: 1%;
	align-items:flex-end;
}

.tabList {
	width: 160px; 
	font-size: 22px;
	list-style: none;
	margin: 0 10% 0 0;
}

.myTab {
	color: #3F3D3A;
	text-decoration: none;
}

.myTab:hover {
	color: #FB7A51;
	font-weight: bold;
}

.tabIcon {
	font-size:25px;
	margin-right: 20px;
}

.leaf {
	width:15px;
	height:15px;
	margin-left:-6px;
	margin-bottom:10px;
}

