@charset "UTF-8";

.wholeContainer {
	width: 100%;
	height: 50px;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

.myPageTabListBox{
	margin-top:3%;
	width: 1512px;
}

.myPageTabList {
	width: 90%;
	border-top: 1px solid #D9D9D9;
	border-bottom:1px solid #D9D9D9;
	height:60px;
	display:flex;
	align-items: center;
	justify-content: center;
}

.tabList {
	display:flex;
	width: 200px; 
	height: 100%;
	margin: 0 5%;
	font-size: 17px;
	list-style: none;
	align-items:center;	
}

.myTab {
	color: #3F3D3A;
	text-decoration: none;
}

.myTab:hover {
	color: #FB7A51;
	font-weight: bold;
}

.tabIcon {
	font-size:20px;
	margin-right: 20px;
}

.leaf {
	position:absolute;
	width:15px;
	height:15px;
	margin-left:162px;
	margin-bottom:23px;
}

