	:root {
   		--color-main : #FB7A51;	/* orange */ 
   		--color-sub : #3CB728;  /* green */
    }
	
	body{
		/*color:white;*/
/* 		font-family: 'Noto Serif KR', serif; */
		font-family: 'IBM Plex Sans KR';
	}
	
	@media (max-width: 768px) {
		.travel-detail-left {
			width: 300px;
		}
	}
	
	.travel-detail-container{
		background-position:center;
		background-size:cover;
		height:856px;
		overflow : hidden;
	}
	
	.travel-detail-left{
		float :left;
		height : 100%;
		width :30%;
		background :rgba(0,0,0,0.5);
		position:relative;
		
	}
	
	.travel-detail-left > div {
		/* margin-left : 160px;
		margin-right : 10%; 
		padding: 50px 0 20px 0;*/
		margin : 30px 10% 30px 160px; /*상 ? 하 좌*/
	}
	
	.travel-detail-right {
		float :right;
		margin-right :160px;	
		
	}
	
	/* bookmark button */
	.travel-detail-like {
		margin-top : 50px;
		
		width : 68px;
		height: 32px;
		border-radius:10px;
		background :rgba(0,0,0,0.8);
		text-align : center;
		line-height: 32px;
	}
	
	a{
		text-decoration : none;
		
	}
	
	.travel-detail-like a:hover {
		color:var(--color-main);
		font-weight : bold;
	}
	
	
	/* travel tab css */
	.travelTab {
	    height: 100px;
	    margin: 50px auto;
	    display: flex;
	    align-items: center;
	    /* background-color: lightgray; */
	}
	
	.travel-tab-container {
	    width: 100%;
	   
	    font-family: 'IBM Plex Sans KR', sans-serif;
	}
	
	.travel-tab-list {
	    margin: 0 auto;
	    width: 90%;
	    height:60px;
	    display:flex;
	    align-items: center;
	    justify-content: center;
	    /* border-top: 1px solid #D9D9D9;
	    border-bottom:1px solid #D9D9D9; */
	}
	
	.travel-tab-item {
	    width: 200px; 
	    height: 100%;
	    margin: 0 5%;
	    display:flex;
	    font-size: 17px;
	    list-style: none;
	    align-items:center;	
	}
	
	.travel-theme {
	    color: #3F3D3A;
	    text-decoration: none;
	}
	
	.travel-theme:hover {
	    color: #FB7A51;
	    font-weight: bold;
	}
	
	.leaf {
	    width:15px;
	    height:15px;
	    margin-left:162px;
	    position:absolute;
	    margin-bottom:23px;
	}
	
	
	/* travel card css */
	/*본문*/
	.travel-card-top {
	    position : relative;
	    width : 100%;
	    height : 158px;
	    overflow : hidden;
	    border-radius : 10px;
	}
	
	.travel-card-location {
	    position : absolute;
	    width: 100%;
	    left : 5px;
	    top : 5px;
	}
	
	.small {
	    width:24px;
	}
	
	.travel-location-icon {
	    position: absolute;
	    top: 5px;
	    left: 5px;
	}
	
	.card-city-code {
	    font-size : 16pt;
	    font-weight : 700;
	    color:var(--color-main); 
	    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white ;
	    display : inline-block;
	    position: absolute;
	    top: 20px;
	    left: 27px;
	}
	
	.card-region-code {
	    font-size : 10pt;
	    color : white;
	    position: absolute;
	    top: 5px;
	    left: 30px;
	}
	
	.travel-card-container {
	    /* border : solid 1px black; */
	    display : inline-block;
	    width : 285px;
	    height : 208px;
	    border-radius : 10px;
	    overflow : hidden;
	}
	
	.travel-card-img img{
	    width : 100%;
	    height : 158px;
	    display : inline-block;
	    filter: grayscale(0%);
	}
	
	.travel-card-img img:hover {
	    filter: grayscale(100%);
	    transform : scale(1.3);
	    transition: all ease-in-out 0.07s 0.07s;
	}
	
	.travel-card-button {
	    padding:20px;
	    line-height: 0;
	    background-color:transparent;
	    color: gray;
	    border: none;
	}
	
	.travel-card-button:hover {
	    padding:20px;
	    line-height: 0;
	    background-color:var(--color-main);
	    color: white;
	    border: none;
	    border-radius: 10px;
	    transition: all ease-in-out 0.1s 0.1s;
	}
	