@charset "UTF-8";

/* 카페24 써라운드 */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 둘기마요고딕 */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 어그로체 */
@font-face {
    font-family: 'SBAggroB-lighter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: 300;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* 박스 레이아웃 */
.wholeModifyBox {
	padding: 5px;
	display:flex;
	height: 520px;
	width: 1100px;
	flex-wrap:wrap;
	margin:0 auto 70px auto;
	font-family: 'IBM Plex Sans KR', sans-serif;
}



/* 프사 박스 */
.leftPicBox {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
	height: 90%;
	width: 40%;
}

.myPicBox {
	display: flex;
	margin-left:-5px;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.myPicCircle {
	width: 80%;
	height: 70%;
	overflow: hidden;
	border-radius: 70%;
		box-shadow: 2px 8px 10px 0 rgba(17,42,128,0.08);
}

.myPic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.selectMyPic {
	display:inline-block;
	margin-top: 55%;
	margin-left: -60%;
	z-index: 2;
}

.picButton {
    display: flex;
    justify-content: center;
}

.picLabel {
    cursor: pointer;
    font-size: 1em;
}

#pic_local {
    visibility: hidden;
}

.cameraIcon {
	width: 110px;
	opacity: 70%;
	margin-left: 35%;
	margin-top: 15%;
}

.cameraIcon:hover {
	opacity: 100%;
}

.profilePicBtnBox{
	width:100%;
	margin-top:-40px;
	margin-left:30px;
}
.additionalPic{
	diaplsy:inline-block;
	margin-left:5px;
	z-index:30;
}
.deletePicLocal{
	margin-left:5px;	
}

.additionPic, .deletePicLocalRequest{
	font-size:0.5em;
	color: #696969;
}
.deletePicLocalRequest{
	cursor: pointer;
}



/* 텍스트+태그 박스 */
.rightTextBox {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 55%;
}

.ageAndGenderAndNicknameBox {
	display:flex;
	flex-direction:column;
	margin-top:10%;
	height: 25%;
	width: 100%;
}
.ageAndGenderBox {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
}
.ageBox {
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	width: 60px;
	height: 25px;
	border: 1px solid #FB7A51;
	border-radius: 10px;
    font-family: 'Cafe24Ssurround';
}
.genderBox {
	display:flex;
	justify-content:center;
	align-items:center;
	color:white;
	margin-left: 5px;
	width: 30px;
	height: 27px;
	border-radius: 10px;
	background: #FB7A51;
    font-family: 'Cafe24Ssurround';
}
.additionalAgeAndGender{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-right: 25px;
	margin-bottom: -10px;
}
.additAgeGender {
	margin: 0 5px;
}
.additionAge, .additionGender {
	color: #696969;
	font-size: 0.5em;
}


/* 닉네임 */
.nicknameBox {
	display:flex;
	width: 100%;
	height: 40px;
}
.nickAndCodeBox{
	margin-left:0;
	display:flex;
	width:100%;
}

.myCodeBox {
	width:20%;
	display:flex;
	margin-left:0;
	margin-right:0;
	align-items: center;
}
.myCode {
	margin-left:0;
	font-size: 1.5em;
    font-family: 'SBAggroB';
}

.myNicknameBtnAndName {
	margin-left:0;
	display:flex;
	width: 55%;
}

.myNickname {
	width: 90%;
	display: flex;
	font-size: 1.7em;
	justify-content: center;
	align-items: center;
    font-family: SBAggroB-lighter;
}
.nicknameModifyOpenBtn {
	width: 75px;
	border: none;
	height: 30px;
	color: white;
	margin-top: 2px;
	margin-left: 15px;
	border-radius: 10px;
	background-color: #696969;
	font-family: 'Dovemayo_gothic';
}
.nicknameModifyOpenBtn:hover {
	cursor: pointer;
}
.penIcon {
	padding-left: 6px;
}
.nicknameDeleteBtn {
	width: 75px;
	border: none;
	height: 30px;
	color: white;
	margin-top: 2px;
	margin-left: 15px;
	border-radius: 10px;
	background-color: #696969;
	font-family: 'Dovemayo_gothic';
}
.nicknameDeleteBtn:hover {
	cursor: pointer;
}
.eraserIcon {
	padding-left: 6px;
}




/* 닉네임 모달 */
.nicknameModifyModal {
	
	/* 모달 창 가운데 고정 */
	position: fixed; 
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	
	width: 380px;
	height: 220px;
	
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-itmes: center;
	background-color: white;
	border-radius: 10px;
	z-index:20;
	
	box-shadow: 0px 0px 10px #444
}
.nickModalNotice {
	font-size: 0.9em;
	margin-top: 2px;
}
#nickNoticeTitle {
	margin-top:10px;
	font-size: 1.5em;
	font-weight: bold;
}
#nickNoticeSub {
	margin-top: -5px;
	font-size: 0.9em;
}
.hiddenNicknameModal {
	display: none;
}

.nicknameTextBox {
	margin-top: 15px;	
}

.modifyingNickname {
	font-size: 1.2em;
	width: 300px;
	height: 35px;
	margin-top: 5px;
	border: none;
	border-bottom: 1px solid #D9D9D9;
}
.modifyingNickname:focus {
    outline: none;   
    border-bottom: 1px solid red; 
  }
.checkRestriction {
	width: 100%;
	height: 16px;
	color: #E74747;
	font-size: 0.3em;
}
.nicknameModalBottom {
	display:flex;
	margin-left: -2px;
	justify-content: space-between;
}
.nickNameBottomBtn {
	margin: 5px;
	width: 145px;
	height: 30px;
	border-radius: 7px;
}
#nickModifyBtn {
	color: #FB7A51;
	border:1px solid #FB7A51;
	background-color: white;
}
#nickModifyBtn:hover {
	color:white;
	font-weight: bold;
	cursor: pointer;
	background-color: #FB7A51;
}
#nickCancleBtn {
	color:white;
	border: none;
	background-color: #D9D9D9;
}
#nickCancleBtn:hover {
	color: #FFFFFF;
	cursor: pointer;
	background-color: #696969;
}
.deleteUserBtn{
	display:flex;
	flex-direction:row-reverse;
	width:95%;
	height:10%;
}
.deleteUser{
	font-size:4px;
	margin-right:0;
	color:  #696969;
}
.deleteUser:hover {
	cursor: pointer;
}




/* 태그 박스 */
.tagBox {
	margin-bottom: 5%;
	height: 48%;
	width: 100%;
}

.tagTitleBox {
	width: 100%;
	height: 12%;
	color: #FB7A51;
	font-size: 1.2em;
}
#myTagTitle {
	font-size: 1.1em;
	font-weight: lighter;
    font-family: 'SBAggroB-lighter';
}
.allTagsBox {
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	align-items: center;
}
.pTags {
	display: flex;
	width: 100%;
	height: 20%;
	margin-left: -15px;
}
.eachTag {
	width: 20%;
	height: 60%;
	display:flex;
	color: #FFFFFF;	
	font-size: 0.8em;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: #D9D9D9;
}
.eachTag:hover {
	background-color: #FB7A51;
	cursor: pointer;
}

.selectedTag {
	background-color: #FB7A51;
}


.hiddenProfileForm{
	display:none;
}





/* 아래 수정완료버튼, 취소버튼 박스 */
.bottomBtnBox {
	height: 8%;
	width: 95%;
	display: flex;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
}
.profileBottomBtns {
	color: #FFFFFF;
	width: 170px;
	height: 40px;
	font-size:0.8em;
	margin: 20px 15px;
	border: none;
	border-radius: 8px;
	background-color: #D9D9D9;
}
#profileModifyInsertBtn {
	background-color: #FB7A51;
}
#profileModifyInsertBtn:hover {
	cursor: pointer;
	font-weight: bold;
}
#profileModifyCancleBtn:hover {
	cursor: pointer;
	background-color: #696969;
}