@charset "UTF-8";

/* 카페24 써라운드 */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 둘기마요고딕 */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 박스 레이아웃 */
.wholeModifyBox {
	margin:10px auto;
	padding: 5px;
	display:flex;
	flex-wrap:wrap;
	height: 520px;
	width: 1100px;
	border: 2px solid blue;
	font-family: 'IBM Plex Sans KR', sans-serif;
}



/* 프사 박스 */
.leftPicBox {
	border:2px solid green;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
	height: 90%;
	width: 40%;
}

.myPicBox {
	display: flex;
	margin-left:-5px;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 1.5px solid pink;
	width: 100%;
}

.myPicCircle {
	width: 90%;
	height: 80%;
	overflow: hidden;
	border-radius: 70%;
}

.myPic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.selectMyPic {
	display:inline-block;
	margin-top: 55%;
	margin-left: -60%;
	z-index: 2;
}

.picButton {
    display: flex;
    justify-content: center;
}

.picLabel {
    cursor: pointer;
    font-size: 1em;
}

#chooseFile {
    visibility: hidden;
}

.cameraIcon {
	width: 150px;
	opacity: 70%;
	margin-left: 35%;
	margin-top: 15%;
}

.cameraIcon:hover {
	opacity: 100%;
}

.additionalPic{
	diaplsy:inline-block;
	margin-left:5px;
	margin-top:-40px;
	z-index:30;
}

.additionPic {
	font-size:0.5em;
	color: #696969;
}





/* 텍스트+태그 박스 */
.rightTextBox {
	display: flex;
	flex-direction: column;
	height: 90%;
	border: 1.5px solid brown;
	width: 55%;
}

.ageAndGenderAndNicknameBox {
	display:flex;
	flex-direction:column;
	margin-top:10%;
	border: 1px solid red;
	height: 25%;
	width: 100%;
}
.ageAndGenderBox {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	border: 1px solid green;
}
.ageBox {
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	width: 60px;
	height: 25px;
	border-radius: 10px;
	border: 1.5px solid #FB7A51;
    font-family: 'Cafe24Ssurround';
}
.genderBox {
	display:flex;
	justify-content:center;
	align-items:center;
	color:white;
	font-weight: bold;
	margin-left: 5px;
	width: 30px;
	height: 27px;
	border-radius: 10px;
	background: #FB7A51;
    font-family: 'Cafe24Ssurround';
}
.additionalAgeAndGender{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-right: 0;
	margin-bottom: -10px;
	font-size: 0.5em;
}
.additAgeGender {
	margin: 0 5px;
}
.additionAge, .additionGender {
	color: #696969;
}


.nicknameBox {
	display: flex;
	width: 100%;
	height: 40px;
	border: 1px solid green; 
}


.myNickname {
	margin:0;
	width: 30%;
	display: flex;
	font-size: 1.5em;
	align-items: center;
	font-family:'Cafe24Ssurround';
}
.nicknameModifyOpenBtn {
	width: 60px;
	border: none;
	height: 30px;
	color: white;
	margin-top:5px;
	margin-left: 15px;
	mragin: 10px 15px;
	border-radius: 10px;
	background-color: #696969;
	font-family: 'Dovemayo_gothic';
}
.penIcon {
	padding-left: 6px;
}

/* 닉네임 모달 */
.nicknameModifyModal {
	position: absolute; /* 모달 창 독립 */
	
	width: 350px;
	height: 150px;
	
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-itmes: center;
	background-color: yellow;
}
.nickModalNotice {
	font-size: 0.9em;
	margin-top: 2px;
	margin-left: 5px;
}
#nickNoticeTitle {
	font-size: 1.3em;
	font-weight: bold;
}
#nickNoticeLimit {
	font-size: 0.5em;
	color: #E74747;
}
.hiddenNicknameModal {
	display: none;
}
.modifingNickname {
	width: 100%;
}
.nicknameModalBottom {
	display:flex;
	flex-direction: row-reverse;
}





.tagBox {
	margin-bottom: 5%;
	border: 1px solid violet;
	height: 60%;
	width: 100%;
}




/* 아래 수정완료버튼, 취소버튼 박스 */
.bottomBtnBox {
	height: 8%;
	width: 95%;
	border: 1.5px solid orange;
}