<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

	<resultMap id="BoardDTO" type="com.kosta.dorang.dto.Board">
		<result property="board_id" column="board_id" />
		<result property="user_code" column="user_code" />
		<result property="board_category" column="board_category" />
		<result property="board_title" column="board_title" />
		<result property="board_content" column="board_content" />
		<result property="board_reg_date" column="board_reg_date" />
		<result property="board_like" column="board_like" />
	</resultMap>
	
	<select id = "selectBoardList" resultType = "com.kosta.dorang.dto.Board">
		<![CDATA[
        	select * from board order by board_id desc
       ]]>
	</select>
	
	<select id = "selectBoardPageList" resultType = "hashmap" parameterType= "hashmap">
		<![CDATA[
        	select board.*, user.user_nickname from board left join user on board.user_code = user.user_code order by board_id desc limit #{pageStart}, #{perPageNum};
       ]]>
	</select>
	
	<select id = "selectBoardPageList2" resultType = "hashmap" parameterType= "hashmap">
		<![CDATA[
        	select * from board order by board_id desc limit #{pageStart}, #{perPageNum}
       ]]>
	</select>
	
	<select id = "selectBoardSearchPageList" resultType = "hashmap" parameterType= "hashmap">
		<![CDATA[
        	select board.*, user.user_nickname from board left join user on board.user_code = user.user_code where board_title like concat('%',#{search},'%') order by board_id desc limit #{pageStart}, #{perPageNum}
       ]]>
	</select>
	
	<select id = "selectBoardSearchPageList2" resultType = "hashmap" parameterType= "hashmap">
		<![CDATA[
        	select * from board where board_title like concat('%',#{search},'%') order by board_id desc limit #{pageStart}, #{perPageNum}
       ]]>
	</select>
	
	<select id = "selectBoardUserPageList" resultType = "hashmap" parameterType= "hashmap">
		<![CDATA[
        	select board.*, user.user_nickname from board left join user on board.user_code = user.user_code where board.user_code=#{userCode} order by board_id desc limit #{pageStart}, #{perPageNum}
       ]]>
	</select>
	
	<select id = "selectBoardUserPageList2" resultType = "hashmap" parameterType= "hashmap">
		<![CDATA[
        	select * from board where user_code=#{userCode} order by board_id desc limit #{pageStart}, #{perPageNum}
       ]]>
	</select>
	
	<select id = "countBoardListTotal" resultType = "Integer" >
		<![CDATA[
			select count(*) from board
		]]>
	</select>
	
	<select id = "countBoardSearchListTotal" resultType = "Integer" >
		<![CDATA[
			select count(*) from board where board_title = #{boardSearch}
		]]>
	</select>
	
	<select id = "countBoardUserListTotal" resultType = "Integer" >
		<![CDATA[
			select count(*) from board where user_code = #{userCode}
		]]>
	</select>
	
	<select id = "selectOneBoard" resultType = "com.kosta.dorang.dto.BoardWithNickname" >
		<![CDATA[
			select board.*, user.user_nickname from board left join user on board.user_code = user.user_code where board_id = #{no};
		]]>
	</select>
	
	<select id = "selectOneBoard2" resultType = "com.kosta.dorang.dto.Board" >
		<![CDATA[
			select * from board where board_id = #{no}
		]]>
	</select>

	
	<select id = "selectOneBoardLike" resultType = "com.kosta.dorang.dto.BoardLike" parameterType="com.kosta.dorang.dto.BoardLike">
		<![CDATA[
			select * from board_like where board_id = #{board_id} and user_code = #{user_code}
		]]>
	</select>
	
	<select id = "selectOneBoardComment" resultType = "com.kosta.dorang.dto.BoardComments" >
		<![CDATA[
			select * from board_comment where comment_no = #{parent_comment_no}
		]]>
	</select>
	
	<select id = "selectOneBoardCommentTemp" resultType = "com.kosta.dorang.dto.BoardComments" >
		<![CDATA[
			select * from board_comment_temp where comment_no = #{parent_comment_no}
		]]>
	</select>
	
	<select id = "selectBoardCommentsList" resultType = "com.kosta.dorang.dto.BoardCommentsWithNickname">
		<![CDATA[
        	select board_comment.*, user.user_nickname from board_comment left join user on board_comment.user_code = user.user_code where board_comment.board_id = #{no} order by board_comment.parent_comment_no asc, board_comment.comment_group_order desc
       ]]>
	</select>
	
	<select id = "selectBoardCommentsListTemp" resultType = "com.kosta.dorang.dto.BoardCommentsWithNickname">
		<![CDATA[
        	select board_comment_temp.*, user.user_nickname from board_comment_temp left join user on board_comment_temp.user_code = user.user_code where board_comment_temp.board_id = #{no} order by board_comment_temp.parent_comment_no asc, board_comment_temp.comment_group_order desc
       ]]>
	</select>
	
	<select id = "selectBoardCommentsList2" resultType = "com.kosta.dorang.dto.BoardComments">
		<![CDATA[
        	select * from board_comment_temp where board_id = #{no} order by parent_comment_no asc, comment_group_order desc
       ]]>
	</select>
	
	<select id = "selectUser" resultType = "com.kosta.dorang.dto.User">
		<![CDATA[
        	select * from user where user_code = #{userCode}
       ]]>
	</select>
	
	<insert id="insertBoard" parameterType="com.kosta.dorang.dto.Board">
		<![CDATA[
			insert into board(user_code, board_category, board_title, board_content)
			values (#{user_code}, #{board_category}, #{board_title}, #{board_content})
		]]>
	</insert>
	
	<insert id="insertBoardLike" parameterType="com.kosta.dorang.dto.BoardLike">
		<![CDATA[
			insert into board_like
			values (#{board_id}, #{user_code})
		]]>
	</insert>
	
	<insert id="insertBoardComments" parameterType="com.kosta.dorang.dto.BoardComments">
		<![CDATA[
			insert into board_comment (user_code, board_id, comment_content, parent_comment_no, comment_depth, comment_group_order)
			values (#{user_code}, #{board_id}, #{comment_content}, #{parent_comment_no}, #{comment_depth}, #{comment_group_order})
		]]>
	</insert>
	
	<insert id="insertBoardCommentsTemp" parameterType="com.kosta.dorang.dto.BoardComments">
		<![CDATA[
			insert into board_comment_temp (user_code, board_id, comment_content, parent_comment_no, comment_depth, comment_group_order)
			values (#{user_code}, #{board_id}, #{comment_content}, #{parent_comment_no}, #{comment_depth}, #{comment_group_order})
		]]>
	</insert>
	
	<insert id="insertBoardCommentsReturnNo" parameterType="com.kosta.dorang.dto.BoardComments" useGeneratedKeys="true" keyProperty="comment_no">
		<![CDATA[
			insert into board_comment (user_code, board_id, comment_content, parent_comment_no, comment_depth, comment_group_order)
			values (#{user_code}, #{board_id}, #{comment_content}, #{parent_comment_no}, #{comment_depth}, #{comment_group_order})
		]]>
	</insert>
	
	<insert id="insertBoardCommentsReturnNoTemp" parameterType="com.kosta.dorang.dto.BoardComments" useGeneratedKeys="true" keyProperty="comment_no">
		<![CDATA[
			insert into board_comment_temp (user_code, board_id, comment_content, parent_comment_no, comment_depth, comment_group_order)
			values (#{user_code}, #{board_id}, #{comment_content}, #{parent_comment_no}, #{comment_depth}, #{comment_group_order})
		]]>
	</insert>
	
	<insert id="insertBoardCommentsWithSequence" parameterType="com.kosta.dorang.dto.BoardComments">
		<![CDATA[
			insert into board_comment (comment_no, user_code, board_id, comment_content, parent_comment_no, comment_group_order)
			values ((nextval('num')), #{user_code}, #{board_id}, #{comment_content}, #{parent_comment_no}, #{comment_group_order})
		]]>
	</insert>
	
	<update id="updateBoard" parameterType="com.kosta.dorang.dto.Board">
		<![CDATA[
			update board
			set user_code=#{user_code}, board_category=#{board_category}, board_title=#{board_title}, board_content=#{board_content}, board_reg_date=#{board_reg_date}, board_like=#{board_like}
			where board_id = #{board_id}
		]]>	
	</update>
	
	<update id="updateBoardLike" parameterType="com.kosta.dorang.dto.Board">
		<![CDATA[
			update board
			set board_like=board_like+1
			where board_id = #{no}
		]]>	
	</update>
	
	<update id="updateParentCommentNo" parameterType="com.kosta.dorang.dto.BoardComments">
		<![CDATA[
			update board_comment
			set parent_comment_no = #{comment_no}
			where comment_no = #{comment_no}
		]]>	
	</update>
	
	<update id="updateParentCommentNoTemp" parameterType="com.kosta.dorang.dto.BoardComments">
		<![CDATA[
			update board_comment_temp
			set parent_comment_no = #{comment_no}
			where comment_no = #{comment_no}
		]]>	
	</update>
	
	<update id="updateCommentGroupOrder" parameterType="com.kosta.dorang.dto.BoardComments">
		<![CDATA[
			update board_comment
			set comment_group_order = comment_group_order + 1
			where parent_comment_no = #{parent_comment_no} and comment_group_order > #{comment_group_order}
		]]>	
	</update>
	
	<update id="updateCommentGroupOrderTemp" parameterType="com.kosta.dorang.dto.BoardComments">
		<![CDATA[
			update board_comment_temp
			set comment_group_order = comment_group_order + 1
			where parent_comment_no = #{parent_comment_no} and comment_group_order > #{comment_group_order}
		]]>	
	</update>
	
	<delete id="deleteBoard">
		<![CDATA[
			delete from board where board_id = #{no}
			
		]]>	
	
	</delete>
	
	<delete id="deleteBoardComment">
		<![CDATA[
			delete from board_comment where comment_no = #{commentNo}
			
		]]>	
	</delete>
	
	<delete id="deleteBoardCommentTemp">
		<![CDATA[
			delete from board_comment_temp where comment_no = #{commentNo}
			
		]]>	
	</delete>

</mapper>