<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MateMapper">
<insert id="insertMate" parameterType="com.kosta.dorang.dto.Mate">
     <![CDATA[
         INSERT INTO mate(user_code,title,content,type,direction,number,age,gender,daterange,tags,status,image,first_ask,second_ask,third_ask,createdAt)
         VALUES (#{user_code},#{title},#{content},#{type},#{direction},#{number},#{age},#{gender},#{daterange},#{tags},#{status},#{image},#{first_ask},#{second_ask},#{third_ask},NOW())
     ]]>
</insert>
<select id="selectMate" parameterType="Integer" resultType="com.kosta.dorang.dto.Mate">
   <![CDATA[ 
       SELECT * FROM mate WHERE mate_code = #{mate_code}
    ]]>
</select>
<select id="getMateListViewSort" resultType="com.kosta.dorang.dto.Mate">
  SELECT * FROM mate ORDER BY createdAt DESC
</select>

</mapper>