<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<resultMap id="UserDTO" type="com.kosta.dorang.dto.User">
		<result property="user_code" column="user_code" />
		<result property="user_id" column="user_id" />
		<result property="user_nickname_kakao" column="user_nickname_kakao" />
		<result property="user_pic" column="user_pic" />
		<result property="user_nickname" column="user_nickname" />
		<result property="user_pic_kakao" column="user_pic_kakao" />
		<result property="user_age_range" column="user_age_range" />
		<result property="user_gender" column="user_gender" />
		<result property="user_nickname_local" column="user_nickname_local" />
		<result property="user_tag" column="user_tag" />
		<result property="user_pic_local" column="user_pic_local" />
	</resultMap>
	
 	<select id="selectUser" parameterType="Long" resultType="com.kosta.dorang.dto.User">
		<![CDATA[
		select * from user where user_code=#{"user_code"}
		]]>
	</select>
	
 	<!-- 처음 로그인 -->
	<insert id="insertUser" parameterType="hashMap">
		<![CDATA[
		insert into user 
		(user_code, user_id, user_nickname_kakao, user_pic, user_nickname, 
		user_pic_kakao, user_age_range, user_gender)
		values 
		(#{user_code}, #{user_id}, #{user_nickname_kakao}, #{user_pic}, #{user_nickname},
		#{user_pic_kakao}, #{user_age_range}, #{user_gender} )
		]]>
	</insert>
	
	<!-- 로그인할때마다, 동의항목 추가할 때 업데이트 -->
	<update id="updateUserProfileInfo" parameterType="hashMap">
		<![CDATA[
		update user set 
		user_id=#{user_id}, user_nickname_kakao=#{user_nickname_kakao}, user_pic=#{user_pic}, 
		user_nickname=#{user_nickname}, user_pic_kakao=#{user_pic_kakao},
		user_age_range=#{user_age_range}, user_gender=#{user_gender}
		where user_code=#{user_code}
		]]>
	</update>

	
	<!-- 마이페이지 수정 -->
	<update id="updateUserProfile" parameterType="com.kosta.dorang.dto.User">
		<![CDATA[
		update user set 
		user_pic=#{user_pic}, user_nickname=#{user_nickname}, 
		user_nickname_local=#{user_nickname_local}, user_tag=#{user_tag},
		user_pic_local=#{user_pic_local}
		where user_code=#{user_code}
		]]>
	</update>
	
	<!-- 마이페이지 로컬닉네임 삭제 -->
	<update id="deleteNicknameLocal" parameterType="hashMap">
		<![CDATA[
		update user set 
		user_nickname_local=null, user_nickname=#{user_nickname_kakao}
		where user_code=#{user_code}
		]]>
	</update>
	
	<!-- 마이페이지 로컬프사 삭제 -->
	<update id="deletePicLocal" parameterType="hashMap">
		<![CDATA[
		update user set 
		user_pic_local=null, user_pic=#{user_pic_kakao}
		where user_code=#{user_code}
		]]>
	</update>

	
</mapper>